.comic-item {
  padding-left: 10px;
  padding-right: 10px;
  display: block;
}

.comic-item {
  text-decoration: none;
}

.comic-item:hover {
  text-decoration: underline
}

.comic-item__image {
  width: 100%;
  height: auto;
  position: relative;
}

.comic-item__title {
  font-size: 14px;
}
