* {
  box-sizing: border-box;
}

*:focus {
  outline: 0;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

a {
  color: currentColor;
  cursor: pointer;
}

button:focus {
  outline: none
}
