* {
  box-sizing: border-box;
}

*:focus {
  outline: 0;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

a {
  color: currentColor;
  cursor: pointer;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

button:focus {
  outline: none
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
