@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

*:focus {
  outline: 0;
}

[class*="hover"] {
  transition: all 0.3s;
}

.btn {
  @apply text-sm border border-white px-3 py-2 rounded;
  transition: background 0.3s, color 0.3s;
  &:focus {
    @apply bg-white text-primary;
  }
}
